{% extends "songs/home.html" %}
{% load crispy_forms_tags %}

{% block content2 %}

<div class="contnet-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boarder-bottom mb-4">
                Edit a current Song
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content2 %}