{% extends "songs/home.html" %}
{% load static %}

{% block content2 %}
<div class="pt-2">
    <h5>Song</h5>
</div>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Track #</th>
        <th>Length</th>
        <th>Disc #</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>{{ song.title }}</td>
        <td>{{ song.track_number }}</td>
        <td>{{ song.length }}</td>
        <td>{{ song.disc_number }}</td>

        <td class="nav-item">
            <a class="nav-link" href="update/">Edit</a>
        </td>

        <td class="nav-item">
            <a class="nav-link" href="delete/">Delete</a>
        </td>
    </tr>
</table>

<div class="pagination">
    {% if albums.paginator.num_pages > 1 %}
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ albums.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ albums.number }} of {{ albums.paginator.num_pages }}
        </span>

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}">next</a>
        <a href="?page={{ albums.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    {% endif %}
</div>
{% endblock content2 %}