{% extends "artists/home.html" %}
{% load crispy_forms_tags %}

{% block content2 %}
<div class="pt-2">
    <h5 Class="h5">New Artist</h5>
</div>

<div class="contnet-section">
    <form method="post">
        {% csrf_token %}
        <label for="artist_name">Artist name:</label>
        <input type="text" id="artist_name" name="artist_name"><br><br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    
    </form>
</div>
{% endblock content2 %}