{% extends "artists/home.html" %}
{% load static %}

{% block content2 %}
<div class="pt-2">
    <h5>Artists List</h5>
</div>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for artist in artists %}
    <tr>
        <td>
            <a class=".btn-link" href="/artists/{{artist.id}}/">
                {{ artist.name }}</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!--
<br>
{{ artists }}<br>
Has previous: {{ artists.has_previous }}<br>
Has next: {{ artists.has_next }}<br>
curret page: {{ artists.number }}<br>
# of pages: {{ artists.paginator.num_pages }}<br>
-->

<div class="pagination">
    <span class="step-links">
        {% if artists.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ artists.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ artists.number }} of {{ artists.paginator.num_pages }}.
        </span>

        {% if artists.has_next %}
        <a href="?page={{ artists.next_page_number }}">next</a>
        <a href="?page={{ artists.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content2 %}