{% extends "albums/home.html" %}
{% load crispy_forms_tags %}

{% block content2 %}
<div class="pt-2">
    <h5 Class="h5">New Album</h5>
</div>

<div class="contnet-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boarder-bottom mb-4">
                Add a New Album
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content2 %}