{% extends "albums/home.html" %}
{% load static %}

{% block content2 %}
<div class="pt-2">
    <h5>Albums List</h5>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Year</th>
        <th>Track Count</th>
        <th>Disc Count</th>
    </tr>
    {% for album in albums %}
    
    <tr>
        <td>{{ album.id }}</td>
        <td><a class=".btn-link" href="{{artist_id}}/"> {{ album.artist_id.name }}</a></td>
        <td>
            <a class=".btn-link" href="{{album.id}}/">
                {{ album.title }}
            </a>
        </td>
        <td>{{ album.year_released }}</td>
        <td>{{ album.track_count }}</td>
        <td>{{ album.disc_count }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content2 %}