{% extends "albums/home.html" %}
{% load static %}

{% block content2 %}
<div class="pt-2">
    <h5>Albums List</h5>
</div>

<table class="table">
    <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Year</th>
        <th>Track Count</th>
        <th>Disc Count</th>
    </tr>
    {% for album in albums %}
    
    <tr>
        <td><a class=".btn-link" href="{{artist_id}}/"> {{ album.artist_id.name }}</a></td>
        <td>
            <a class=".btn-link" href="{{album.id}}/">
                {{ album.title }}
            </a>
        </td>
        <td>{{ album.year_released }}</td>
        <td>{{ album.track_count }}</td>
        <td>{{ album.disc_count }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ albums.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ albums.number }} of {{ albums.paginator.num_pages }}
        </span>

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}">next</a>
        <a href="?page={{ albums.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock content2 %}