{% extends "albums/home.html" %}
{% load static %}

{% block content2 %}
<div class="pt-2">
    <h5>Album</h5>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            {{ album.title }}
        </td>

        <td class="nav-item">
            <a class="nav-link" href="update/">Edit</a>
        </td>

        <td class="nav-item">
            <a class="nav-link" href="delete/">Delete</a>
        </td>
    </tr>
</table>

<div class="pt-2">
    <h6>Songs</h6>
</div>

<table class="table">
    <tr>
        <th>Artist</th>
        <th>Track #</th>
        <th>Title</th>
        <th>Length</th>
        <th>Disc #</th>
    </tr>
    {% for song in songs %}
    <tr>
        <td><a class=".btn-link" href="/artists/{{song.artist_id.id}}/">
                {{ song.artist_id.name }}</td>
        <td>{{ song.track_number }}</td>
        <td>
            <a class=".btn-link" href="/songs/{{song.id}}/">
                {{ song.title }}</a>
        </td>
        <td>{{ song.length }}</td>
        <td>{{ song.disc_number }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% if songs.paginator.num_pages > 1 %}
    <span class="step-links">
        {% if songs.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ songs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ songs.number }} of {{ songs.paginator.num_pages }}
        </span>

        {% if songs.has_next %}
        <a href="?page={{ songs.next_page_number }}">next</a>
        <a href="?page={{ songs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    {% endif %}
</div>
{% endblock content2 %}